<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send a message</title>
</head>
<body>
    <h1>Submit a message</h1>
<form method="POST" action="/new">
<label >
    Name:
    <input type="text" name="name" required></input>
</label>
<label >
    Message:
    <input type="text" name="message" required></input>
</label>
<button type="submit">Send</button>
</form>
</body>
</html>
