<h1>Submit a message</h1>
<form method="POST" action="/new">
<label >
    Name:
    <input type="text" name="name"></input>
</label>
<label >
    Message:
    <input type="text" name="message"></input>
</label>
<button type="submit">Send</button>
</form>
